@use '../utiles' as *;

.features {
  background: var(--assit-light);
  padding: rem(48) 0;
  text-align: center;

  h2 {
    margin-bottom: rem(32);
  }

  .flex > div {
    width: 30%;
  }

  h4 {
    margin-top: rem(8);
    color: var(--assit-Dark);
  }

  &__wrapper {
    span {
      color: var(--main-Secondry-2);
      font-size: rem(35);
    }
  }
}
