@use '../utiles' as *;

.header {
  background: transparent;
  padding: rem(16) 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;

  &__wrapper {
    padding: rem(16);
  }

  &__logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem(27.2);
    color: var(--grey-Light);
    position: relative;
    top: rem(4);
  }

  &__navbar {
    ul.is-sticky {
      a {
        color: var(--grey-Dark);
      }

      a:hover,
      a.active {
        color: var(--main-Secondry-2);
      }
    }

    li {
      display: inline-block;
      margin: 0 rem(15);
    }

    a {
      color: var(--grey-Light);
      font-size: rem(16);
    }

    a:hover,
    a.active {
      color: var(--white);
    }

    #close-flyout {
      display: none;
    }
  }

  &__hamburger-menu {
    background-color: transparent;
    border: 1px solid var(--white);
    padding: rem(3) rem(5);
    width: rem(30);
    cursor: pointer;
    margin-top: rem(10);
    display: none;

    .strip {
      display: block;
      background-color: var(--white);
      height: 1px;
      margin: rem(4) 0;
    }
  }
}
