@use '../utiles' as *;

.header {
  background-color: var(--dark-bg);
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(16);
  }

  &__logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem(24);
    color: var(--dark-text2);
  }

  &__navbar {
    ul {
      display: flex;
      justify-content: space-between;
      gap: rem(16);
    }

    a {
      color: var(--dark-text2);
    }
  }
}
