@use 'variables' as *;
@use '../utiles' as *;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.7;
  font-weight: 400;
  color: var(--main-Primary-light);
  overflow-x: hidden;
}

// images
// img {
//   // width: 100%; // image to be contained in it's coontainer
// }

code,
pre {
  background-color: #333;
  color: #fff;
  padding: 0.2rem 0.624rem;
}

button.rounded {
  background-color: var(--main-Secondry-2);
  border: none;
  color: $white;
  font-size: rem(16);
  border-radius: rem(30);
  padding: rem(10) rem(30);
  line-height: 1.5;
  cursor: pointer;
  text-transform: capitalize;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
