@use 'variables' as *;
@use '../utiles' as *;

// hedding top margin 0
h1,
h2 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: rem(48);
  line-height: 1.2;
  margin-bottom: rem(16);
}

h2 {
  font-size: rem(40);
  color: var(--main-Secondry-1);
  margin-bottom: rem(16);
  line-height: 1.2;
}

h3 {
  font-size: rem(22.5);
  font-weight: 300;
}

h4 {
  font-size: rem(19.2);
  font-weight: 300;
}

h5 {
  font-size: rem(16);
}

ul {
  list-style-type: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
  text-transform: capitalize;
}

//paragraph
p {
  margin: 0 0 rem(16);
}

p.large {
  font-size: rem(20);
  font-weight: 300;
}
