// colors

$mainPrimaryDark: hsl(0, 92%, 15%);
$mainPrimarylight: hsl(0, 0%, 46.7%);
$mainSecondary-1: hsl(192, 85%, 35%);
$mainSecondary-2: hsl(33.7, 92.6%, 52.2%);
$assistDark: hsla(302, 43%, 55%, 0.822);
$assistLighty: hsl(67, 52%, 88%);
$white: hsl(0, 0%, 100%);
$greyDark: hsl(0, 0%, 25%);
$greyLight: hsl(0, 0%, 60%);

:root {
  --main-Primary-Dark: #{$mainPrimaryDark};
  --main-Primary-light: #{$mainPrimarylight};
  --main-Secondry-1: #{$mainSecondary-1};
  --main-Secondry-2: #{$mainSecondary-2};
  --assit-Dark: #{$assistDark};
  --assit-light: #{$assistLighty};
  --white: #{$white};
  --grey-Dark: #{$greyDark};
  --grey-Light: #{$greyLight};
}

// font sizes variables
$font-sm: 0.875rem; // 14px
$font-md: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xl: 2rem; // 32px
$font-xxl: 3rem; // 48px

// .sm {
//     font-size: 1rem;
//   }

//   .md {
//     font-size: 2rem;
//   }

//   .lg {
//     font-size: 3rem;
//   }

//   .xl {
//     font-size: 4rem;
//   }
